upstream fastcgi_backend {
        server  unix:/run/php/php7.0-fpm.sock;
}

server {
        listen 80;
        set $MAGE_ROOT /var/www;
        set $MAGE_MODE developer;
        include /var/www/nginx.conf.sample;
}